Django==3.0.6
django-cors-headers==3.3.0
djangorestframework==3.11.0
google-cloud-storage==1.30.0
google-resumable-media==0.7.0
six==1.13.0
psycopg2==2.7.5
facebook-business==8.0.0
django-settings-export-1.2.1
pymediainfo-5.0.3
Pillow-8.1.0