{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content%}
	<h3>Login</h3>
	<div class="row">
		<div class="columns small-12 large-6">
			<form method="post">
			  {% csrf_token %}
				{% if form.non_field_errors %}
					<div class="warning">
						<ul>
							{{ form.non_field_errors.as_ul }}
						</ul>
					</div>
				{% endif %}
				<label for="id_username">Username</label>
				<input type="text" name="username" autocomplete="username" maxlength="150" required="" id="id_username">
				<label for="id_password">Password</label>
				<input type="password" name="password" autocomplete="current-password" required="" id="id_password">
				<button type="submit" class="button">Login</button>
			</form>
			<p><a href="{% url 'password_reset' %}">Reset password</a></p>
		</div>
	</div>
{% endblock %}