{% extends 'base.html' %}
{% block title %}Add content{% endblock %}
{% block content %}
{% load static %}
    <link href="{% static 'fileform/main.css' %}" rel="stylesheet">
    <h3>Edit content</h3>
    <div class="row">
        <div class="columns small-12 large-6">
            <form method="post" action="{% url 'own_content_edit' content.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="root" mode="1" content="{{ content.id }}" step="{{ content.creation_step }}"></div>
            </form>
        </div>
    </div>
    <script src="{% static 'fileform/main.js' %}"></script>
    {% include 'parts/_location_script.html' %}
{% endblock %}