{% extends 'base.html' %}
{% block title %}Add content{% endblock %}
{% block content %}
{% load static %}
    <h3>Edit content</h3>
    <form method="post" action="{% url 'own_content_edit' content.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ content_form.as_p }}
        <div id="root" is-edit="True" content="{{ content.id }}"></div>
        <button type="submit" class="button">Save Changes</button>
    </form>
    <script src="{% static 'fileform/main.js' %}"></script>
{% endblock %}