{% extends 'base.html' %}
{% block title %}Manage{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'frameworks/foundation/responsive-tables.css' %}">
<script src="{% static 'frameworks/foundation/responsive-tables.js' %}"></script>
<h3>My Contents</h3>
<br/>
{% include 'parts/_content_search.html' %}
<table class="responsive">
    <thead>
        <tr>
          <th width="15%">Title</th>
          <th width="35%">Description</th>
          <th>Target Date</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Attendees Count</th>
          <th>View More</th>
        </tr>
      </thead>
      <tbody>
        {% for content in my_contents %}
        <tr>
            <td> {{ content.title }} </td>
            <td> {{ content.description }} </td>
            <td> {{ content.target_date }} </td>
            {% if content.is_active %}
            <td> active </td>
            {% else %}
            <td> stopped </td>
            {% endif %}
            <td> <a href="{% url 'own_content_edit' content.id %}">Edit</a> </td>
            {% if content.total_attendees is not None %}
              <td>{{ content.total_attendees }}</td>
            {% else %}
              <td>0</td>
            {% endif %}
            <td><a href="{% url 'own_content_details' content.id %}">View</a></td>
        </tr>
        {% endfor %} 
      </tbody>
</table>
{% if my_contents.has_other_pages %}
	<ul class="pagination" role="navigation" aria-label="Pagination">
		{% if my_contents.has_previous %}
			<li><a href="?page={{ my_contents.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous <span class="show-for-sr">page</span></a></li>
		{% else %}
			<li class="disabled">Previous <span class="show-for-sr">page</span></li>
		{% endif %}
		{% for i in my_contents.paginator.page_range %}
			{% if my_contents.number == i %}
				<li class="current"><span class="show-for-sr">You're on page</span>{{ i }}</li>
			{% else %}
				<li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span class="show-for-sr">You're on page</span>{{ i }}</a></li>
		  	{% endif %}
		{% endfor %}
		{% if my_contents.has_next %}
			<li><a href="?page={{ my_contents.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
		{% else %}
		<li class="disabled">Next <span class="show-for-sr">page</span></li>
		{% endif %}
	</ul>
{% endif %}
{% endblock %}