<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0N-EiHuwDqA2WslFWqEteBGwokddQ_SE&libraries=places&callback=initMap">
</script>
<script>
function initMap() {
    const input = document.getElementById("id_location");
    const options = {
      componentRestrictions: { country: "ph" },
      fields: ["address_components", "geometry", "icon", "name"],
      strictBounds: false,
    };
    const autocomplete = new google.maps.places.Autocomplete(input, options);
}
</script>