<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Togobi &bull; {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'frameworks/foundation/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'frameworks/foundation/motion-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>
  <body>
    <div class="main">
    	<div class="top-bar">
          <div class="row">
            <div class="top-bar-left">
              <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><img src="{% static 'togobi-logo.png' %}" width="112" height="28"></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
    	    <div class="top-bar-right">
    		    <ul class="menu">
    		    	{% if user.is_authenticated %}
    		    		<li><a href="{% url 'logout' %}">Logout</a></li>
    		    	{% else %}
    		    		<li><a href="{% url 'signup' %}">Sign up</a></li>
    			    	<li><a href="{% url 'login' %}" class="button">Login</a></li>
    		    	{% endif %}
    		    </ul>
    	  	</div>
          </div>
      </div>
      <div class="row column">
          <script src="{% static 'frameworks/jquery-2.1.4.min.js' %}"></script>
          <script src="{% static 'js/samples.js' %}"></script>
     		  <main>{% block content %} {% endblock %}</main>
      </div>
    </div>
    <footer>
      <div class="row expanded callout secondary">
      <div class="medium-6 columns">
          <ul class="menu">
            <li><a href="#">Legal</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">Explore</a></li>
          </ul>
        </div>
      
        <div class="medium-6 columns">
          <ul class="menu align-right">
            <li class="menu-text">Copyright © 2020 Togobi</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
    <script src="{% static 'frameworks/foundation/foundation.js' %}"></script>
    <script>
      $(document).foundation();
      $('.main').css('height', ($( window ).height() - 73)+'px');
    </script>
</html>

{# TODO: change frameworks source to prod version in deployment #}