<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Togobi &bull; {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'frameworks/foundation/foundation-float.min.css' %}">
    <link rel="stylesheet" href="{% static 'frameworks/foundation/foundation-prototype.min.css' %}">
    <link rel="stylesheet" href="{% static 'frameworks/foundation/foundation-rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
  <body>
    <div class="main">
    	<div class="top-bar">
        <img class="float-center" src="{% static 'togobi-logo.png' %}" width="112" height="28">
        <div class="top-bar-left">
              <ul class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                  <li><a href="#">Notifs</a></li>
                  <li><a href="{% url 'messages' %}">Messages</a></li>
                  <li><a href="{% url 'own_contents' %}">Manage</a></li>
                {% endif %}
              </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            {% if user.is_authenticated %}
              <li><a href="#">Me</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li><a href="#">Go Pro</a></li>
            {% else %}
              <li><a href="{% url 'signup' %}">Sign up</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="row column">
          <script src="{% static 'frameworks/jquery-2.1.4.min.js' %}"></script>
          <script src="{% static 'js/samples.js' %}"></script>
     		  <main>{% block content %} {% endblock %}</main>
      </div>
    </div>
    <footer>
      <div class="row expanded callout secondary">
      <div class="medium-6 columns">
          <ul class="menu">
            <li><a href="#">Help</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Partner</a></li>
          </ul>
        </div>
      
        <div class="medium-6 columns">
          <ul class="menu align-right">
            <li class="menu-text">Copyright © 2021 Togobi</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
  <script src="{% static 'frameworks/foundation/foundation.min.js' %}"></script>
  <script src="{% static 'js/sticky_footer.js' %}"></script>
</html>