{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
	{# START #}
	<!-- TODO: categorize content color? -->
	<div class="row">
		<div class="large-6 columns" style="border-right: 1px solid #E3E5E8;">
			<div class="row column">
				<h4 style="margin: 0;" class="text-center">LATEST</h4>
		  	</div>
			{% include 'parts/_content_search.html' %}
			<a href="{% url 'content_add'%}" class="button ffab">Add Something</a>
			{% for content in contents %}
				<div class="card">
				  <img src="https://get.foundation/sites/docs/assets/img/generic/rectangle-1.jpg">
				  <div class="card-section">
					<h4><a href="{% url 'content_details' content.id %}">{{content.title}}</a></h4>
					<p>
						<span>{{ content.description }}</span>
						<br/>
						<span><i class="fi-calendar"> {{ content.target_date }} &nbsp;&nbsp;</i></span>
						<br/>
						<span><i class="fi-torso"> By {{ content.user.username }}&nbsp;&nbsp;</i></span>
						<br/>
						<span><i class="fi-comments"> {{ content.total_attendees }} attendees</i></span>
					</p>
					<div class="small secondary button-group">
						<a href="{% url 'content_join' content.id %}" class="button">Join</a>
						<a class="button">Share</a>
					</div>
				  </div>
				</div>
			{% endfor %}
			{% if contents.has_other_pages %}
            <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if contents.has_previous %}
                    <li><a href="?page={{ contents.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous <span class="show-for-sr">page</span></a></li>
                {% else %}
                    <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}
                {% for i in contents.paginator.page_range %}
                    {% if contents.number == i %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{ i }}</li>
                    {% else %}
                        <li><a href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span class="show-for-sr">You're on page</span>{{ i }}</a></li>
                      {% endif %}
                {% endfor %}
                {% if contents.has_next %}
                    <li><a href="?page={{ contents.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                {% else %}
                <li class="disabled">Next <span class="show-for-sr">page</span></li>
                {% endif %}
            </ul>
        {% endif %}
		</div>
  		<div class="large-6 columns">
			  <!-- TODO: adjust the combination of the media and title -->
  			<aside>
				  <br>
				  <div class="row column">
					<p class="lead">TODAY</p>
					{% for content in contents_today %}
			    		<div class="media-object">
			    	      <div class="media-object-section">
							{% for file in content.contentfile_set.all %}
								{% if file.f_type == 'Image' %}
									<img src="{{ settings.GCP_BASE_URL }}/{{ settings.GCP_BUCKET_NAME }}/{{ settings.GCP_FOLDER_UPLOAD }}/{{ file.source }}" alt="image for article" alt="article preview image" class="home-image-small">
								{% elif file.f_type == 'Video'%}
								<!-- TODO: need to generate gif from video -->
								{% endif%}
								{% empty %}
								<!-- TODO: show system generated image from title -->
							{% endfor %}
			    	      </div>
			    	      <div class="media-object-section">
			    	        <h5>{{ content.title }}</h5>
			    	      </div>
						</div>
					{% empty %}
						No items available yet.
					{% endfor %} 
				</div>
		      	<hr>
	      		<div class="row column">
	        		<p class="lead">TOP</p>
					{% for top in contents_top %}
						<div class="media-object">
						  <div class="media-object-section">
							{% for file in content.contentfile_set.all %}
								{% if file.f_type == 'Image' %}
									<img src="{{ settings.GCP_BASE_URL }}/{{ settings.GCP_BUCKET_NAME }}/{{ settings.GCP_FOLDER_UPLOAD }}/{{ file.source }}" alt="image for article" alt="article preview image" class="home-image-small">
								{% elif file.f_type == 'Video'%}
								<!-- TODO: need to generate gif from video -->
								{% endif%}
								{% empty %}
								<!-- TODO: show system generated image from title -->
							{% endfor %}
						  </div>
						  <div class="media-object-section">
							<h5>{{ top.content.title }}</h5>
						  </div>
						</div>
					{% empty %}
						No items available yet.
					{% endfor %} 
				  </div>
      		</aside>
  		</div>
	</div>
{% load static %}
{% endblock %}
