{% extends 'base.html' %}
{% block title %}Add content{% endblock %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'frameworks/dropzone/dropzone.min.css' %}">
    <h3>Add content</h3>
    <form method="post" action="{% url 'content_add' %}" enctype="multipart/form-data" id="content-form">
        {% csrf_token %}
        {{ content_form.as_p }}
        <!-- {{ content_file_form.as_p }} -->
        <!-- TODO: in paying plan can add multiple images/videos -->
        <!-- TODO: make the user select what type of media he wants to be generated e.g video, image -->
        <!-- TODO: add mosaic generator, output video, free border-->
    </form>
    <form action="{% url 'contentfile_upload' %}"
      class="dropzone">
      {% csrf_token %}
    </form>
      <br>
      <button type="submit" class="button" form="content-form">Create</button>
    <script src="{% static 'frameworks/dropzone/dropzone.min.js' %}"></script>
{% endblock %}