{% extends 'base.html' %}
{% block title %}Add content{% endblock %}
{% block content %}
{% load static %}
    <link href="{% static 'fileform/main.css' %}" rel="stylesheet">
    <h3>Add content</h3>
    <div class="row">
        <div class="columns small-12 large-6">
            <form method="post" action="{% url 'content_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- TODO: in paying plan can add multiple images/videos -->
                <!-- TODO: make the user select what type of media he wants to be generated e.g video, image -->
                <!-- TODO: add mosaic generator, output video, free border-->
                <div id="root" mode="0"></div>
            </form>
        </div>
    </div>
    <script src="{% static 'fileform/main.js' %}"></script>
{% endblock %}