{% extends 'base.html' %}
{% block title %}Notifs{% endblock %}
{% block content %}
<h3>Notifs</h3>
  <div class="row collapse">
    <div class="medium-2 columns">
      <ul class="vertical tabs">
            <li class="tabs-title {% if ntab == 'msg' or not ntab %} is-active {% endif %}">
                <a href="?ntab=msg" {% if ntab == 'msg' or not ntab %} aria-selected="true" {% endif %}>Messages</a>
            </li>
            <li class="tabs-title {% if ntab == 'anncmnt' %} is-active {% endif %}">
                <a href="?ntab=anncmnt" {% if ntab == 'anncmnt' %} aria-selected="true" {% endif %}>Togobi</a>
            </li>
      </ul>
    </div>
    <div class="medium-9 columns">
      <div class="tabs-content">
        <div class="tabs-panel is-active">
            {% if ntab == 'anncmnt'%}
                {% include 'notifs/ntf_togobi.html' %}
            {% else %}
                {% include 'notifs/ntf_message.html' %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}